<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Here be the <%= title %></p>
    <% if (typeof contacts != 'undefined') { %>
        <ul>
            <% for(let i = 0; i < contacts.length; i++) { %>
                <li><a href='./friends/<%= contacts[i].name %>'><%= contacts[i].name %></a></li>
            <% } %>
        </ul>
    <% } else { %>
        <p>No Contacts</p>
    <% } %>
    <p>Go to <a href='/'>Home</a></p>
</body>

</html>